<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Word Search{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Flask Word Search Website</h1>
    </header>
    <nav>
        <a href="{{ url_for('home_page') }}">Home</a>
        <a href="{{ url_for('word_search_page') }}">Word Search</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>© 2024 Word Search. All rights reserved.</p>
    </footer>
</body>

</html>